openapi: 3.0.3
info:
  title: API.Rasp.Yandex.Net
  description: API Яндекс.Расписаний
  version: 3.0.0
servers:
- url: https://api.rasp.yandex.net
tags:
- name: Список ближайших станций
  description: Список ближайших станций
paths:
  /v3.0/nearest_stations/:
    get:
      tags:
      - getNearestStations
      summary: Список ближайших станций
      operationId: getNearestStations
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: lat
        in: query
        description: широта
        required: true
        schema:
          type: number
      - name: lng
        in: query
        description: долгота
        required: true
        schema:
          type: number
      - name: distance
        in: query
        description: радиус охвата
        required: true
        schema:
          type: integer
      - name: format
        in: query
        description: json или xml
        required: false
        schema:
          type: string
      - name: lang
        in: query
        description: lang
        required: false
        schema:
          type: string
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stations'
  /v3.0/nearest_settlement/:
    get:
      tags:
      - getNearestCity
      summary: Ближайший город
      operationId: getNearestCity
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: lat
        in: query
        description: широта
        required: true
        schema:
          type: number
      - name: lng
        in: query
        description: долгота
        required: true
        schema:
          type: number
      - name: distance
        in: query
        description: радиус охвата
        required: true
        schema:
          type: integer
      - name: format
        in: query
        description: json или xml
        required: false
        schema:
          type: string
      - name: lang
        in: query
        description: lang
        required: false
        schema:
          type: string
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/City'
  /v3.0/copyright/:
    get:
      tags:
        - Копирайт
      summary: Копирайт Яндекс Расписания
      operationId: getCopyright
      parameters:
        - name: apikey
          in: query
          description: API key
          required: true
          schema:
            type: string
        - name: format
          in: query
          description: json или xml
          required: false
          schema:
            type: string
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Copyright'
  /v3.0/carrier/:
    get:
      tags:
        - Информация о перевозчике
      summary: Информация о перевозчике
      operationId: getCarrierInfo
      parameters:
        - name: apikey
          in: query
          description: API key
          required: true
          schema:
            type: string
        - name: code
          in: query
          description: carrier code
          required: true
          schema:
            type: string
        - name: system
          in: query
          description: lang
          required: false
          schema:
            type: string
            enum:
              - yandex
              - iata
              - sirena
              - express
              - esr
        - name: format
          in: query
          description: json или xml
          required: false
          schema:
            type: string
        - name: lang
          in: query
          description: lang
          required: false
          schema:
            type: string
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Carriers'
  /v3.0/stations_list/:
    get:
      tags:
        - Список всех доступных станций
      summary: Список всех доступных станций
      operationId: getAllStations
      parameters:
        - name: apikey
          in: query
          description: API key
          required: true
          schema:
            type: string
        - name: format
          in: query
          description: json или xml
          required: false
          schema:
            type: string
        - name: lang
          in: query
          description: lang
          required: false
          schema:
            type: string
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllStations'
components:
  schemas:
    Stations:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        stations:
          type: array
          items:
            $ref: '#/components/schemas/Station'
    Pagination:
      type: object
      properties:
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
    Station:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        short_title:
          type: string
        popular_title:
          type: string
        code:
          type: string
        lat:
          type: number
        lng:
          type: number
        station_type:
          type: string
        station_type_name:
          type: string
        transport_type:
          type: string
        distance:
          type: number
        majority:
          type: integer
        type_choices:
          $ref: '#/components/schemas/Schedule'
    Schedule:
      type: object
      properties:
        desktop_url:
          type: string
        touch_url:
          type: string
    City:
      type: object
      properties:
        distance:
          type: number
        code:
          type: string
        title:
          type: string
        popular_title:
          type: string
        short_title:
          type: string
        lat:
          type: number
        lng:
          type: number
        type:
          type: string
    Copyright:
      type: object
      properties:
        copyright:
          $ref: '#/components/schemas/CopyrightBody'
    CopyrightBody:
      type: object
      properties:
        logo_vm:
          type: string
        url:
          type: string
        logo_vd:
          type: string
        logo_hy:
          type: string
        logo_hd:
          type: string
        logo_vy:
          type: string
        logo_hm:
          type: string
        text:
          type: string
    Carriers:
      type: object
      properties:
        carriers:
          type: array
          items:
            $ref: '#/components/schemas/Carrier'
        carrier:
          $ref: '#/components/schemas/Carrier'
    Carrier:
      type: object
      properties:
        code:
          type: integer
        contacts:
          type: string
        url:
          type: string
        logo_svg:
          type: string
        title:
          type: string
        phone:
          type: string
        codes:
          $ref: '#/components/schemas/CarrierCodes'
        address:
          type: string
        logo:
          type: string
        email:
          type: string
    CarrierCodes:
      type: object
      properties:
        icao:
          type: string
        sirena:
          type: string
        iata:
          type: string
    AllStations:
      type: object
      properties:
        countries:
          type: array
          items:
            $ref: '#/components/schemas/Country'
    Country:
      type: object
      properties:
        title:
          type: string
        codes:
          $ref: '#/components/schemas/StationCodesForAllStation'
        regions:
          type: array
          items:
            $ref: '#/components/schemas/Region'
    StationCodesForAllStation:
      type: object
      properties:
        esr_code:
          type: string
        yandex_code:
          type: string
    Region:
      type: object
      properties:
        title:
          type: string
        codes:
          $ref: '#/components/schemas/StationCodesForAllStation'
        settlements:
          type: array
          items:
            $ref: '#/components/schemas/Settlements'
    Settlements:
      type: object
      properties:
        title:
          type: string
        codes:
          $ref: '#/components/schemas/StationCodesForAllStation'
        stations:
          type: array
          items:
            $ref: '#/components/schemas/StationInSettlements'
    StationInSettlements:
      type: object
      properties:
        direction:
          type: string
        codes:
          $ref: '#/components/schemas/StationCodesForAllStation'
        station_type:
          type: string
        title:
          type: string
        longitude:
          type: number
        latitude:
          type: number
        transport_type:
          type: string
        
